* {
  font-size: 16;
  font-family: monospace;
}

window#waybar {
  background: #111122;
  color: #ffffee;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#backlight,
#temperature,
#idle_inhibitor {
  margin: 0 3px;
  padding: 0 3px;
}

#workspaces {
  margin-right: 3px;
}

#tray {
  padding-left: 5px;
  margin-left: 3px;
}

#custom-mpris_prev {
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-mpris_play_pause {
  padding-right: 3px;
}

#custom-mpris_next {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
}

#idle_inhibitor {
  padding-right: 8px;
  margin-right: 0;
}

#tags button,
#workspaces button {
  padding: 0 2px;
  color: #6677aa;
  box-shadow: inset 0 -3px transparent;
}

#tags button:hover,
#workspaces button:hover {
  background-color: #444455;
}

#tags button.focused,
#tags button.active,
#workspaces button.focused,
#workspaces button.active {
  color: #ffffee;
  font-weight: bold;
}

#tags button.urgent,
#workspaces button.urgent,
#pulseaudio.muted {
  color: #ff5555;
}

#memory,
#battery {
  color: #55ff77;
}

#disk,
#custom-mpris_prev,
#custom-mpris_play_pause,
#custom-mpris_next {
  color: #ff77cc;
}

#memory.warning,
#battery.warning,
#disk.warning {
  color: #111122;
  background: #eeff88;
}

#memory.critical,
#battery.critical,
#disk.critical {
  color: #111122;
  background: #ff5555;
}

#cpu {
  color: #bb99ff;
}

#temperature,
#idle_inhibitor.activated {
  color: #ffbb77;
}

#backlight {
  color: #eeff88;
}

#network,
#pulseaudio {
  color: #88eeff;
}
