simplified_ui true
default_layout "compact"
default_shell "nu"
theme "custom"

ui {
  pane_frames {
    rounded_corners true
  }
}

themes {
  custom {
    fg "#F8F8F2"
    bg "#282A36"
    black "#21222C"
    red "#FF5555"
    green "#50FA7B"
    yellow "#F1FA8C"
    blue "#BD93F9"
    magenta "#FF79C6"
    cyan "#8BE9FD"
    white "#FFFFFF"
    orange "#FFB86C"
  }
}

keybinds {
  shared {
    unbind "Ctrl o"
    unbind "Ctrl g"
    unbind "Ctrl h"
    unbind "Ctrl q"
  }
  shared_except "locked" {
    bind "Alt 9" { SwitchToMode "locked"; }
  }
  locked {
    bind "Alt 9" { SwitchToMode "normal"; }
  }
  pane {
    bind "q" { Detach; }
    bind "Q" { Quit; }
    bind "H" { MovePane "Left"; }
    bind "J" { MovePane "Down"; }
    bind "K" { MovePane "Up"; }
    bind "L" { MovePane "Right"; }
  }
}
